<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >常用管理</span>
  </li>
  <!-- Safe Setting -->
  <li ui-sref-active="active">
    <a ui-sref="app.lab-room">
      <i class="fa icon-screen-desktop icon text-white-only"></i>
      <span class="font-bold text-white">实验台</span>
    </a>
  </li>
  <!-- Safe Setting -->
  <li ui-sref-active="active">
    <a ui-sref="app.lab-manage">
      <i class="fa icon-book-open icon text-white-only"></i>
      <span class="font-bold text-white">实验课程</span>
    </a>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa icon-vector icon text-white-only"></i>
      <span class="font-bold text-white">实验项目</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="app.teach-plan">
          <span>实验项目</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.lab-praxis">
          <span>习题库</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.lab-expaper">
          <span>习题组卷</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.lab-preview-test">
          <span>预习测试</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.lab-student">
          <b class="badge bg-info pull-right">New</b>
          <span>学生实验</span>
        </a>
      </li>
    </ul>
  </li> 
    
  <!-- Internet Manager-->
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-fax icon text-white-only"></i>
      <span class="font-bold text-white">现场操作</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="app.lab-monitor-report">
          <span>监测数据统计</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.webpagecontrol">
          <span>现场监控</span>
        </a>
      </li>
    </ul>
  </li>
  
  <!-- Safe Setting -->
  <li ui-sref-active="active">
    <a ui-sref="app.lab-report">
      <i class="fa fa-file-text icon text-white-only"></i>
      <b class="badge bg-info pull-right">23</b>
      <span class="font-bold text-white">实验报告</span>
    </a>
  </li>
    
  <!-- Internet Manager-->
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-bar-chart-o icon text-white-only"></i>
      <span class="font-bold text-white">学情分析</span>
    </a>
    <ul class="nav nav-sub dk">
    	<li ui-sref-active="active">
        <a ui-sref="app.lab-upload-error">
          <b class="badge bg-info pull-right">New</b>
          <span>班级分析</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.lab-upload-error-sudent">
          <span>学生分析</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.lab-concern">
          <b class="badge bg-warning pull-right">15</b>
          <span>关注对象</span>
        </a>
      </li>
    </ul>
  </li>

  <!-- Internet Manager-->
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-institution icon text-white-only"></i>
      <span class="font-bold text-white">信息管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>学校管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v">
          <span>学院管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v">
          <span>班级管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v">
          <span>教师管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v">
          <span>学生管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v">
          <span>公告管理</span>
        </a>
      </li>
    </ul>
  </li>
  
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >学生实验</span>
  </li>
  
  <!-- Safe Setting -->
  <li ui-sref-active="active">
    <a ui-sref="app.student-mylab">
      <i class="fa icon-vector icon text-white-only"></i>
      <span class="font-bold text-white">我的实验</span>
    </a>
  </li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>系统管理</span>
  </li>

  <!-- Tool Manager -->
  <li ui-sref-active="active">
    <a ui-sref="app.dashboard-v">
      <i class="fa fa-th-large icon text-white-only"></i>
      <span class="font-bold text-white">系统用户</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.dashboard-v">
      <i class="fa fa-th-large icon text-white-only"></i>
      <span class="font-bold text-white">角色权限</span>
    </a>
  </li>
  <!-- Word Manager -->
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-stats icon text-white-only"></i>
      <span class="font-bold text-white">系统维护</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v">
          <span>系统配置</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v">
          <span>数据备份</span>
        </a>
      </li>
    </ul>
  </li>
  <!-- Safe Setting -->
  <li ui-sref-active="active">
    <a ui-sref="app.dashboard-v">
      <i class="fa fa-gear icon text-white-only"></i>
      <span class="font-bold text-white">系统日志</span>
    </a>
  </li>


</ul>
<!-- / list -->